

.nav-flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	z-index: 100;
	left: 0;
	width: 100%;
	padding: 0;
}

.nav-flex-row li {
	text-decoration: none;
	list-style-type: none;
	padding: 20px 15px;
	padding-top: 40px;
}

.nav-flex-row li a {
	font-family: 'Sans-Serif', arial;
	color: #000;
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: 750;
}
.nav-flex-row li a:hover{
	background: #f7d203;
}

.section-intro {
	height: 820px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-intro h1 {
	text-align: center;
	color: rgb(12, 11, 12);
	font-size: 4em;
	font-weight: 700;
	padding-bottom: 50px;
}

.section-intro header {
	display: flex;
	flex: 4;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.link-to-book-wrapper {
	flex: 1;
}

.about-section {
	display: flex;
	align-items: center;
	background-color: #fffc60da;
	padding: 80px 30px;
}
.about-section p{
	color:rgb(202, 13, 13);
}

.link-to-book {
	color: #c20a0a;
	font-size: 1.4em;
	display: block;
	border: 3px solid #040661;
	padding: 5px 10px;
}

a.link-to-book:hover {
	background-color: #ffffff;
	color: #95999e;
	text-decoration: none;
}

.about-section p,
.about-section h3 {
	text-align: center;
	width: 65%;
	margin: auto;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.8em;
}

.carousel-inner {
	height: 500px;
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
}

.row-flex {
	display: flex;
	flex-direction: row;
}

.flex-column-form {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 30px 20px;
}

.btn.btn-primary {
	font-family: 'Times New Roman', Times, serif;
	color: #0400fc;
	background-color: #81f0ff;
	text-transform: uppercase;
	font-size: 20px;
	padding: 5px 10px;
	letter-spacing: 1px;
	border: 1;
}

.btn.btn-primary:hover {
	background-color: #c220eb;
}
.opening-time{
	flex: 1;
	margin: 30px 20px;
	font-size: 1.2em;
	padding-left: 60px;
}
.contact-adress {
	flex: 1;
	margin: 30px 20px;
	font-size: 1.2em;
	padding-left: 60px;
}

.form-group p {
	font-size: 1.2em;
}

.opening-time p span{
		display: block;
}
.contact-adress p span {
	display: block;
	padding-left: 60px;
}
.contact-adress h3{
	padding-left: 60px;
}

@media (min-width:577px) and (max-width: 800px) {

	.section-intro {
		height: 500px;
	}

	.about-section p,
	.about-section h3 {
		font-size: 20px;
	}

	.carousel-inner {
		height: auto;
	}

	.row-flex {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 576px) {
	.section-intro {
		height: 300px;
	}

	.about-section {
		padding: 30px;
	}

	.section-intro h1 {
		font-size: 2em;
	}

	.about-section p,
	.about-section h3 {
		font-size: 20px;
	}

	.carousel-inner {
		height: auto;
	}

	.row-flex {
		display: flex;
		flex-direction: column;
	}

	.row-flex h3 {
		font-size: 25px;
		text-align: center;
	}

	.form-group p {
		font-size: 15px;
	}

	.opening-time p span,
	.contact-adress p span {
		font-size: 15px;
		text-align: center;
	}

}